@import '../../../styles/colors';

.readings-table {
    width: 100%;
}

.table-container {
    height: calc(100% - 125px);
    overflow: scroll;
}

.mat-column-id,
.mat-column-created,
.mat-column-firstName,
.mat-column-lastName {
    width: 25%;
}
