@import '../../../styles/colors';

.block
{
    position: relative;

    width: 100px;
    height: 100px;
    margin: 50px auto 0 auto;

    border-radius: 10px;
    background-color: $dark-background;
}

.tag
{
    position: relative;
    top: 50%;

    transform: translateY(-50%);
    text-align: center;

    color: white;
}
