@import 'colors';

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;

    background-color: $dark-foreground;
}

body
{
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    margin: 0;
}
