$primary-palette: (
    50 : #e9f0f1,
    100 : #c7d9dd,
    200 : #a2c0c7,
    300 : #7da7b0,
    400 : #61949f,
    500 : #45818e,
    600 : #3e7986,
    700 : #366e7b,
    800 : #2e6471,
    900 : #1f515f,
    A100 : #9fe9ff,
    A200 : #6cddff,
    A400 : #39d2ff,
    A700 : #1fccff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$secondary-palette: (
	50: #efe6e4,
	100: #d6c1bc,
	200: #bb978f,
	300: #a06d62,
	400: #8b4e40,
	500: #772f1e,
	600: #6f2a1a,
	700: #642316,
	800: #5a1d12,
	900: #47120a,
	A100: #ff8a7e,
	A200: #ff5c4b,
	A400: #ff2e18,
	A700: #fd1800,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #fff,
		400: #fff,
		500: #fff,
		600: #fff,
		700: #fff,
		800: #fff,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #fff,
		A700: #fff
	)
);
$dark-primary-palette: (
	50: #111213,
	100: #d4e5f5,
	200: #b7d4ee,
	300: #9ac2e7,
	400: #85b5e1,
	500: #6fa8dc,
	600: #67a0d8,
	700: #5c97d3,
	800: #528dce,
	900: #407dc5,
	A100: #fff,
	A200: #e3efff,
	A400: #b0d3ff,
	A700: #96c4ff,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #000,
		600: #000,
		700: #000,
		800: #000,
		900: #fff,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);

$dark-secondary-palette: (
	50: #f6f4fa,
	100: #e9e5f3,
	200: #dad3eb,
	300: #cbc1e2,
	400: #bfb4dc,
	500: #b4a7d6,
	600: #ad9fd1,
	700: #a496cc,
	800: #9c8cc6,
	900: #8c7cbc,
	A100: #fff,
	A200: #fff,
	A400: #e4dbff,
	A700: #d2c2ff,
	contrast: (
		50: #000,
		100: #000,
		200: #000,
		300: #000,
		400: #000,
		500: #000,
		600: #000,
		700: #000,
		800: #000,
		900: #000,
		A100: #000,
		A200: #000,
		A400: #000,
		A700: #000
	)
);
